/************************** GLOBAL STYLES **************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --text: #1f1f1f;
    --background-light: #f6f6f6;
    --background-dark: #1f1f3f;
    --highlight-background: #c3d7e6;
    --shadow-background: #afafaf22;
    --hover: #95c3e6;
    --accent: #e19b9b;
    --correct: #3333cc;
    --incorrect: #cc3333;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
    overflow: hidden;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body *{
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}

*[disabled]{
    pointer-events: none;
    opacity: 30%;
}

/************************** NAV PANEL **************************/
.nav-panel{
    position: relative;
    height: 100vh;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px 0px;
}

.nav-panel > *{
    height: 60px;
    width: 60px;
    fill: var(--text);
}

.nav-panel svg{
    height: 35px;
    width: 35px;
}

.nav-panel .button{
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-panel .selection-highlight{
    position: absolute;
    border-radius: 15px;
    background-color: var(--accent);
    z-index: -1;
    top: 15px;
    transition: top .2s;
    pointer-events: none;
}

/************************** GENERAL PAGE STYLES **************************/
.page{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.page .page-container{
    position: relative;
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************************** LANDING PAGE **************************/


/************************** HEADER SECTION **************************/
.header-row{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 25px;
}

/************************** CONFIG SECTION **************************/
.config-row{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    fill: var(--text);
    border-top: 2px solid var(--shadow-background);
    border-bottom: 2px solid var(--shadow-background);
}

.config-row > *{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-self: center;
}

.config-row > .dropdown-section{
    position: absolute;
    right: 0px;
}

/************************** CONFIG SECTION **************************/
.drop-down{
    position: relative;
}

.drop-down *:not(.dropdown-container){
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--shadow-background);
}

.drop-down *:not(.dropdown-container):hover{
    border-bottom: 1px solid black;
}

.drop-down .dropdown-container{
    position: absolute;
    top: 50px;
    background-color: var(--background-light);
    z-index: 999;
}

/************************** PAUSE POPUP **************************/
.popup{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shadow-background);
}

.popup .popup-container{
    position: relative;
    width: 500px;
    height: 550px;
    background-color: var(--background-light);
    box-shadow: 0px 0px 10px 5px #00000033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup .header{
    font-size: 50px;
}

.pause-popup .resume-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 25px;
    background-color: var(--hover);
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
}

.popup .close-button{
    position: absolute;
    cursor: pointer;
    user-select: none;
    top: 0px;
    right: 0px;
}

/*************************** GAME SECTION ***************************/
.game-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.game-section .grid-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.game-section .current-clue{
    padding: 10px 25px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--highlight-background);
}

.game-section .grid-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid black;
}

/*************************** LIST SECTION ***************************/
.list-container{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.list-container .list-title{
    text-align: left;
}

.list-container .list-outer{
    flex: 1;
    position: relative;
}

.list-container .list-inner{
    display: flex;
    flex-direction: column;
    position: absolute;
}

/**************************** CLUE ROW ****************************/
.clue-row{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 15px;
    gap: 6px;
    cursor: pointer;
    user-select: none;
}

.clue-row:hover{
    background-color: var(--hover);
}

.clue-row.highlighted{
    background-color: var(--hover);
}

.clue-row.kinda-highlighted{
    background-color: var(--highlight-background);
}

.clue-row > div{
    display: flex;
    align-self: center;
}

.clue-row .clue-label{
    justify-content: end;
}

.clue-row .clue{
    justify-content: start;
    flex: 1;
}

/**************************** GRID STUFF ****************************/
.grid-row{
    display: flex;
}

.grid-cell{
    aspect-ratio: 1;
    position: relative;
    border: 1px solid gray;
    cursor: pointer;
}

.grid-cell.blank{
    background-color: black;
    border: 1px solid black;
}

.grid-cell.highlighted{
    background-color: var(--hover);
}

.grid-cell.selected{
    background-color: #f0df24;
}

.grid-cell .label{
    position: absolute;
    left: 2px;
}

.grid-cell .value{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    user-select: none;
    font-weight: 600;
}

.grid-cell.checked-correct .value{
    color: var(--correct);
}

.grid-cell.checked-incorrect .value{
    color: var(--incorrect);
}

.grid-cell .revealed-flag{
    position: absolute;
    top: 5px;
    right: 5px;
}

.grid-cell .revealed-flag svg{
    height: 15px;
    width: 15px;
}




/***********************************************************************************************************/
/* STYLING IM NOT USING RIGHT NOW                                                                          */
/***********************************************************************************************************/


/************************** LOADING PAGE **************************/
/*.loading-screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: var(--background-light);
    gap: 20px;
}

.loading-screen .spinner{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--background-light);
    border-left: 10px solid var(--text);
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

.loading-screen .text{
    font-size: 20px;
    animation: fadeText 5s infinite linear;
}

@keyframes fadeText {
    0%   {opacity: 0%;}
    5%   {opacity: 0%;}
    25%  {opacity: 100%;}
    75%  {opacity: 100%;}
    95% {opacity: 0%;}
    100% {opacity: 0%;}
}*/